<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>

    <title>Todo List</title>
</head>

<body class="container">
<div class="text-center">
    <h1 onclick="location.href='/todo/list'">Todos for today:</h1>
    <p><a th:href="@{/todo/add}" class="btn btn-warning">Add new todo</a></p>
</div>

<div>
    <form th:action="@{/todo/list}" method="get">
        <input type="text" name="search" placeholder="search"/>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}" th:object="${todo}">

        <td th:text="*{id}"></td>

        <td>
            <a th:href="@{|/todo/?desc=${todo.id}&search=${searchstring}|}" th:text="*{title}"> </a>

        </td>


        <td>
            <span th:if="*{done}" class="glyphicon glyphicon-ok"></span>
            <span th:unless="*{done}" class="glyphicon glyphicon-remove"></span>
        </td>

        <td>
            <span th:if="*{urgent}" class="glyphicon glyphicon-ok"></span>
            <span th:unless="*{urgent}" class="glyphicon glyphicon-remove"></span>

        </td>

        <td th:text="*{date}"></td>
        <td><a th:href="@{|/todo/${todo.id}/delete|}" class="btn btn-danger">Delete</a></td>
        <td><a th:href="@{|/todo/${todo.id}/edit|}" class="btn btn-info">Edit</a></td>
    </tr>
    </tbody>
</table>



<div class=" description" th:if="${desc} != null"  >
    <h1>Description</h1>
    <p th:text="${desc.description}"></p>
</div>

<a th:if="${searchstring}!= null" onclick="location.href='/todo/list'">Back</a>


<script src="/webjar s/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>


</body>
</html>